<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seagox.lowcode.business.mapper.BusinessDocumentMapper">

    <sql id="projectNameCondition">
        <if test="params.projectName != null and params.projectName != ''">
            <choose>
                <when test="_databaseId == 'mysql'">AND p.name LIKE CONCAT('%', #{params.projectName}, '%')</when>
                <otherwise>AND p.name LIKE '%' || #{params.projectName} || '%'</otherwise>
            </choose>
        </if>
    </sql>

    <sql id="constructionLogColumns">
        SELECT a.*, p.code AS "projectCode", p.name AS "projectName",
               s.stage_name AS "stageName", u.name AS "filledByName"
        FROM construction_log a
        LEFT JOIN project p ON p.id = a.project_id
        LEFT JOIN project_stage s ON s.id = a.stage_id
        LEFT JOIN sys_account u ON u.id = a.filled_by
    </sql>

    <select id="queryConstructionLogs" resultType="camelKeyMap">
        <include refid="constructionLogColumns"/>
        <where>
            <include refid="projectNameCondition"/>
            <if test="params.logType != null and params.logType != ''">AND a.log_type = #{params.logType}</if>
            <if test="params.status != null and params.status != ''">AND a.status = #{params.status}</if>
            <if test="params.startDate != null and params.startDate != ''">AND a.log_date &gt;= #{params.startDate}</if>
            <if test="params.endDate != null and params.endDate != ''">AND a.log_date &lt;= #{params.endDate}</if>
        </where>
        ORDER BY a.log_date DESC, a.id DESC
    </select>

    <select id="queryConstructionLogById" resultType="camelKeyMap">
        <include refid="constructionLogColumns"/>
        WHERE a.id = #{id}
    </select>

    <sql id="inspectionColumns">
        SELECT a.*, p.code AS "projectCode", p.name AS "projectName",
               s.stage_name AS "stageName", qc.name AS "qcUserName",
               pm.name AS "projectManagerUserName"
        FROM inspection a
        LEFT JOIN project p ON p.id = a.project_id
        LEFT JOIN project_stage s ON s.id = a.stage_id
        LEFT JOIN sys_account qc ON qc.id = a.qc_user_id
        LEFT JOIN sys_account pm ON pm.id = a.project_manager_user_id
    </sql>

    <select id="queryInspections" resultType="camelKeyMap">
        <include refid="inspectionColumns"/>
        <where>
            <include refid="projectNameCondition"/>
            <if test="params.inspectionName != null and params.inspectionName != ''">
                <choose>
                    <when test="_databaseId == 'mysql'">AND a.inspection_name LIKE CONCAT('%', #{params.inspectionName}, '%')</when>
                    <otherwise>AND a.inspection_name LIKE '%' || #{params.inspectionName} || '%'</otherwise>
                </choose>
            </if>
            <if test="params.status != null and params.status != ''">AND a.status = #{params.status}</if>
            <if test="params.startDate != null and params.startDate != ''">AND a.inspection_date &gt;= #{params.startDate}</if>
            <if test="params.endDate != null and params.endDate != ''">AND a.inspection_date &lt;= #{params.endDate}</if>
        </where>
        ORDER BY a.inspection_date DESC, a.id DESC
    </select>

    <select id="queryInspectionById" resultType="camelKeyMap">
        <include refid="inspectionColumns"/>
        WHERE a.id = #{id}
    </select>

    <sql id="issueTicketColumns">
        SELECT a.*, p.code AS "projectCode", p.name AS "projectName",
               s.stage_name AS "stageName", reporter.name AS "reportedByName",
               responsible.name AS "responsibleUserName", reviewer.name AS "reviewUserName"
        FROM issue_ticket a
        LEFT JOIN project p ON p.id = a.project_id
        LEFT JOIN project_stage s ON s.id = a.stage_id
        LEFT JOIN sys_account reporter ON reporter.id = a.reported_by
        LEFT JOIN sys_account responsible ON responsible.id = a.responsible_user_id
        LEFT JOIN sys_account reviewer ON reviewer.id = a.review_user_id
    </sql>

    <select id="queryIssueTickets" resultType="camelKeyMap">
        <include refid="issueTicketColumns"/>
        <where>
            <include refid="projectNameCondition"/>
            <if test="params.keyword != null and params.keyword != ''">
                <choose>
                    <when test="_databaseId == 'mysql'">
                        AND (a.code LIKE CONCAT('%', #{params.keyword}, '%')
                        OR a.title LIKE CONCAT('%', #{params.keyword}, '%'))
                    </when>
                    <otherwise>
                        AND (a.code LIKE '%' || #{params.keyword} || '%'
                        OR a.title LIKE '%' || #{params.keyword} || '%')
                    </otherwise>
                </choose>
            </if>
            <if test="params.issueType != null and params.issueType != ''">AND a.issue_type = #{params.issueType}</if>
            <if test="params.severity != null and params.severity != ''">AND a.severity = #{params.severity}</if>
            <if test="params.status != null and params.status != ''">AND a.status = #{params.status}</if>
        </where>
        ORDER BY a.reported_at DESC, a.id DESC
    </select>

    <select id="queryIssueTicketById" resultType="camelKeyMap">
        <include refid="issueTicketColumns"/>
        WHERE a.id = #{id}
    </select>

    <sql id="paymentRequestColumns">
        SELECT a.*, p.code AS "projectCode", p.name AS "projectName",
               applicant.name AS "applicantName", creator.name AS "createdByName"
        FROM payment_request a
        LEFT JOIN project p ON p.id = a.project_id
        LEFT JOIN sys_account applicant ON applicant.id = a.applicant_id
        LEFT JOIN sys_account creator ON creator.id = a.created_by
    </sql>

    <select id="queryPaymentRequests" resultType="camelKeyMap">
        <include refid="paymentRequestColumns"/>
        <where>
            <include refid="projectNameCondition"/>
            <if test="params.applicantName != null and params.applicantName != ''">
                <choose>
                    <when test="_databaseId == 'mysql'">AND applicant.name LIKE CONCAT('%', #{params.applicantName}, '%')</when>
                    <otherwise>AND applicant.name LIKE '%' || #{params.applicantName} || '%'</otherwise>
                </choose>
            </if>
            <if test="params.status != null and params.status != ''">AND a.status = #{params.status}</if>
        </where>
        ORDER BY a.created_at DESC, a.id DESC
    </select>

    <select id="queryPaymentRequestById" resultType="camelKeyMap">
        <include refid="paymentRequestColumns"/>
        WHERE a.id = #{id}
    </select>

    <sql id="materialArrivalColumns">
        SELECT a.*, p.code AS "projectCode", p.name AS "projectName",
               creator.name AS "createdByName"
        FROM material_arrival a
        LEFT JOIN project p ON p.id = a.project_id
        LEFT JOIN sys_account creator ON creator.id = a.created_by
    </sql>

    <select id="queryMaterialArrivals" resultType="camelKeyMap">
        <include refid="materialArrivalColumns"/>
        <where>
            <include refid="projectNameCondition"/>
            <if test="params.startDate != null and params.startDate != ''">AND a.arrival_at &gt;= #{params.startDate}</if>
            <if test="params.endDate != null and params.endDate != ''">AND a.arrival_at &lt;= #{params.endDate}</if>
        </where>
        ORDER BY a.arrival_at DESC, a.id DESC
    </select>

    <select id="queryMaterialArrivalById" resultType="camelKeyMap">
        <include refid="materialArrivalColumns"/>
        WHERE a.id = #{id}
    </select>

    <sql id="projectHandoverColumns">
        SELECT a.*, p.code AS "projectCode", p.name AS "projectName",
               fs.stage_name AS "fromStageName", ts.stage_name AS "toStageName",
               hu.name AS "handoverUserName", ru.name AS "receiverUserName"
        FROM project_handover a
        LEFT JOIN project p ON p.id = a.project_id
        LEFT JOIN project_stage fs ON fs.id = a.from_stage_id
        LEFT JOIN project_stage ts ON ts.id = a.to_stage_id
        LEFT JOIN sys_account hu ON hu.id = a.handover_user_id
        LEFT JOIN sys_account ru ON ru.id = a.receiver_user_id
    </sql>

    <select id="queryProjectHandovers" resultType="camelKeyMap">
        <include refid="projectHandoverColumns"/>
        <where>
            <include refid="projectNameCondition"/>
            <if test="params.keyword != null and params.keyword != ''">
                <choose>
                    <when test="_databaseId == 'mysql'">
                        AND (a.handover_code LIKE CONCAT('%', #{params.keyword}, '%')
                        OR a.handover_name LIKE CONCAT('%', #{params.keyword}, '%'))
                    </when>
                    <otherwise>
                        AND (a.handover_code LIKE '%' || #{params.keyword} || '%'
                        OR a.handover_name LIKE '%' || #{params.keyword} || '%')
                    </otherwise>
                </choose>
            </if>
            <if test="params.handoverType != null and params.handoverType != ''">AND a.handover_type = #{params.handoverType}</if>
            <if test="params.status != null and params.status != ''">AND a.status = #{params.status}</if>
        </where>
        ORDER BY a.created_at DESC, a.id DESC
    </select>

    <select id="queryProjectHandoverById" resultType="camelKeyMap">
        <include refid="projectHandoverColumns"/>
        WHERE a.id = #{id}
    </select>

</mapper>
