<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seagox.lowcode.mapper.DoorMapper">
	
	<!--查询用户门户数据-->
	<select id="queryUserData" resultType="Door">
		SELECT a.* FROM door a 
			LEFT JOIN sys_role b ON 
			<if test="_databaseId == 'mysql'">
                FIND_IN_SET(b.id, a.authority) 
            </if>
			<if test="_databaseId == 'oracle'">
                FIND_IN_SET(a.authority, b.id) > 0
            </if>
           	<if test="_databaseId == 'postgresql'">
			    cast(b.id as VARCHAR) = ANY(STRING_TO_ARRAY(a.authority,','))
			</if>
			<if test="_databaseId == 'kingbase'">
			    cast(b.id as VARCHAR) = ANY(STRING_TO_ARRAY(a.authority,','))
			</if>
			<if test="_databaseId == 'dm'">
			    position(b.id in a.authority)
			</if>
            <if test="_databaseId == 'sqlserver'">
            	CHARINDEX(b.id, a.authority) > 0
            </if>
			LEFT JOIN user_role c ON c.role_id = b.id
		<where>
			a.company_id = #{parentCompanyId}
			AND b.company_id = #{companyId}
			AND c.user_id = #{userId}
		</where>
		LIMIT 1
	</select>
</mapper>