<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seagox.lowcode.system.mapper.FlowMapper">

    <!-- 查询待办事项 -->
    <select id="queryTodoItem" resultType="camelKeyMap">
        SELECT
        d.id,
        i.id AS instanceId,
        i.name,
        i.business_type AS businessType,
        i.business_key AS businessKey,
        i.status,
        u.name AS assigneeName,
        DATE_FORMAT(d.create_time, '%Y-%m-%d %H:%i:%s') AS createTime,
        DATE_FORMAT(d.end_time, '%Y-%m-%d %H:%i:%s') AS endTime
        FROM sea_node_detail d
        INNER JOIN sea_node n ON n.id = d.node_id
        INNER JOIN sea_instance i ON i.id = n.instance_id
        LEFT JOIN sys_account u ON u.id = i.user_id
        <where>
            d.status = 0
            AND n.status = 0
            AND d.company_id = #{companyId}
            AND d.assignee = #{userId}
            <if test="name != null and name != ''">
                AND i.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="statusStr != null and statusStr != ''">
                AND FIND_IN_SET(i.status, #{statusStr})
            </if>
            <if test="businessTypeStr != null and businessTypeStr != ''">
                AND FIND_IN_SET(i.business_type, #{businessTypeStr})
            </if>
        </where>
        ORDER BY d.create_time DESC, d.id DESC
    </select>

    <!-- 查询已办事项 -->
    <select id="queryDoneItem" resultType="camelKeyMap">
        SELECT
        d.id,
        i.id AS instanceId,
        i.name,
        i.business_type AS businessType,
        i.business_key AS businessKey,
        i.status,
        u.name AS assigneeName,
        DATE_FORMAT(d.create_time, '%Y-%m-%d %H:%i:%s') AS createTime,
        DATE_FORMAT(d.end_time, '%Y-%m-%d %H:%i:%s') AS endTime
        FROM sea_node_detail d
        INNER JOIN sea_node n ON n.id = d.node_id
        INNER JOIN sea_instance i ON i.id = n.instance_id
        LEFT JOIN sys_account u ON u.id = i.user_id
        <where>
            d.status IN (1, 2)
            AND d.company_id = #{companyId}
            AND d.assignee = #{userId}
            <if test="name != null and name != ''">
                AND i.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="startTime != null and startTime != ''">
                AND DATE_FORMAT(d.end_time, '%Y-%m-%d %H:%i:%s') <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND DATE_FORMAT(d.end_time, '%Y-%m-%d %H:%i:%s') <![CDATA[<=]]> #{endTime}
            </if>
            <if test="todoPerson != null and todoPerson != ''">
                AND u.name LIKE CONCAT('%', #{todoPerson}, '%')
            </if>
            <if test="businessTypeStr != null and businessTypeStr != ''">
                AND FIND_IN_SET(i.business_type, #{businessTypeStr})
            </if>
        </where>
        ORDER BY d.end_time DESC, d.id DESC
    </select>

    <!-- 查询抄送事项 -->
    <select id="queryCopyItem" resultType="camelKeyMap">
        SELECT
        d.id,
        i.id AS instanceId,
        i.name,
        i.business_type AS businessType,
        i.business_key AS businessKey,
        i.status,
        u.name AS assigneeName,
        DATE_FORMAT(d.create_time, '%Y-%m-%d %H:%i:%s') AS createTime,
        DATE_FORMAT(d.end_time, '%Y-%m-%d %H:%i:%s') AS endTime
        FROM sea_node_detail d
        INNER JOIN sea_node n ON n.id = d.node_id
        INNER JOIN sea_instance i ON i.id = n.instance_id
        LEFT JOIN sys_account u ON u.id = i.user_id
        <where>
            n.type = 4
            AND d.status = 3
            AND d.company_id = #{companyId}
            AND d.assignee = #{userId}
            <if test="name != null and name != ''">
                AND i.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="businessTypeStr != null and businessTypeStr != ''">
                AND FIND_IN_SET(i.business_type, #{businessTypeStr})
            </if>
        </where>
        ORDER BY d.create_time DESC, d.id DESC
    </select>

    <!-- 查询我发起的 -->
    <select id="querySelfItem" resultType="camelKeyMap">
        SELECT
            i.id,
            i.name,
            i.business_type AS businessType,
            i.business_key AS businessKey,
            i.status,
            DATE_FORMAT(i.create_time, '%Y-%m-%d %H:%i:%s') AS createTime
        FROM sea_instance i
        <where>
            i.company_id = #{companyId}
            AND i.user_id = #{userId}
            <if test="name != null and name != ''">
                AND i.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="businessTypeStr != null and businessTypeStr != ''">
                AND FIND_IN_SET(i.business_type, #{businessTypeStr})
            </if>
        </where>
        ORDER BY i.create_time DESC, i.id DESC
    </select>

    <!-- 查询待发事项 -->
    <select id="queryReadyItem" resultType="camelKeyMap">
        SELECT
            id,
            title AS name,
            business_type AS businessType,
            business_key AS businessKey,
            DATE_FORMAT(create_time, '%Y-%m-%d %H:%i:%s') AS createTime
        FROM sys_message
        <where>
            type = 1
            AND company_id = #{companyId}
            AND to_user_id = #{userId}
            <if test="name != null and name != ''">
                AND title LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="businessTypeStr != null and businessTypeStr != ''">
                AND FIND_IN_SET(business_type, #{businessTypeStr})
            </if>
        </where>
        ORDER BY create_time DESC, id DESC
    </select>

</mapper>
