<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seagox.lowcode.business.mapper.IssueTicketMapper">
    <!-- 查询问题单列表 -->
    <select id="queryIssueTickets" resultType="camelKeyMap">
        SELECT a.id,
               a.project_id AS "projectId",
               a.title,
               a.description,
               a.issue_attachments AS "issueAttachments",
               a.reported_by AS "reportedBy",
               a.reported_at AS "reportedAt",
               a.assigned_by AS "assignedBy",
               a.assigned_at AS "assignedAt",
               a.rectification_deadline AS "rectificationDeadline",
               a.rectification_count AS "rectificationCount",
               a.rectification_description AS "rectificationDescription",
               a.rectification_attachments AS "rectificationAttachments",
               a.rectification_user_id AS "rectificationUserId",
               a.rectification_submitted_at AS "rectificationSubmittedAt",
               a.review_user_id AS "reviewUserId",
               a.review_result AS "reviewResult",
               a.review_remark AS "reviewRemark",
               a.review_attachments AS "reviewAttachments",
               a.reviewed_at AS "reviewedAt",
               a.closed_by AS "closedBy",
               a.closed_at AS "closedAt",
               a.status,
               a.created_by AS "createdBy",
               a.created_at AS "createdAt",
               a.updated_by AS "updatedBy",
               a.updated_at AS "updatedAt",
               p.code AS "projectCode",
               p.name AS "projectName",
               reporter.name AS "reportedByName",
               assigned.name AS "assignedByName",
               rectifier.name AS "rectificationUserName",
               reviewer.name AS "reviewUserName",
               closer.name AS "closedByName"
        FROM issue_ticket a
        LEFT JOIN project p ON p.id = a.project_id
        LEFT JOIN sys_account reporter ON reporter.id = a.reported_by
        LEFT JOIN sys_account assigned ON assigned.id = a.assigned_by
        LEFT JOIN sys_account rectifier ON rectifier.id = a.rectification_user_id
        LEFT JOIN sys_account reviewer ON reviewer.id = a.review_user_id
        LEFT JOIN sys_account closer ON closer.id = a.closed_by
        <where>
            <if test="params.projectId != null and params.projectId != ''">AND a.project_id = #{params.projectId}</if>
            <if test="params.projectName != null and params.projectName != ''">
                <choose>
                    <when test="_databaseId == 'mysql'">AND p.name LIKE CONCAT('%', #{params.projectName}, '%')</when>
                    <otherwise>AND p.name LIKE '%' || #{params.projectName} || '%'</otherwise>
                </choose>
            </if>
            <if test="params.keyword != null and params.keyword != ''">
                <choose>
                    <when test="_databaseId == 'mysql'">AND a.title LIKE CONCAT('%', #{params.keyword}, '%')</when>
                    <otherwise>AND a.title LIKE '%' || #{params.keyword} || '%'</otherwise>
                </choose>
            </if>
            <if test="params.status != null and params.status != ''">AND a.status = #{params.status}</if>
        </where>
        ORDER BY a.reported_at DESC, a.id DESC
    </select>
    <!-- 查询问题单详情 -->
    <select id="queryIssueTicketById" resultType="camelKeyMap">
        SELECT a.id,
               a.project_id AS "projectId",
               a.title,
               a.description,
               a.issue_attachments AS "issueAttachments",
               a.reported_by AS "reportedBy",
               a.reported_at AS "reportedAt",
               a.assigned_by AS "assignedBy",
               a.assigned_at AS "assignedAt",
               a.rectification_deadline AS "rectificationDeadline",
               a.rectification_count AS "rectificationCount",
               a.rectification_description AS "rectificationDescription",
               a.rectification_attachments AS "rectificationAttachments",
               a.rectification_user_id AS "rectificationUserId",
               a.rectification_submitted_at AS "rectificationSubmittedAt",
               a.review_user_id AS "reviewUserId",
               a.review_result AS "reviewResult",
               a.review_remark AS "reviewRemark",
               a.review_attachments AS "reviewAttachments",
               a.reviewed_at AS "reviewedAt",
               a.closed_by AS "closedBy",
               a.closed_at AS "closedAt",
               a.status,
               a.created_by AS "createdBy",
               a.created_at AS "createdAt",
               a.updated_by AS "updatedBy",
               a.updated_at AS "updatedAt",
               p.code AS "projectCode",
               p.name AS "projectName",
               reporter.name AS "reportedByName",
               assigned.name AS "assignedByName",
               rectifier.name AS "rectificationUserName",
               reviewer.name AS "reviewUserName",
               closer.name AS "closedByName"
        FROM issue_ticket a
        LEFT JOIN project p ON p.id = a.project_id
        LEFT JOIN sys_account reporter ON reporter.id = a.reported_by
        LEFT JOIN sys_account assigned ON assigned.id = a.assigned_by
        LEFT JOIN sys_account rectifier ON rectifier.id = a.rectification_user_id
        LEFT JOIN sys_account reviewer ON reviewer.id = a.review_user_id
        LEFT JOIN sys_account closer ON closer.id = a.closed_by
        WHERE a.id = #{id}
    </select>
</mapper>
