<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seagox.lowcode.system.mapper.PhoneCodeMapper">
	<!-- 查找最近的验证码 -->
	<select id="queryLastPhone" resultType="PhoneCode">
		select * from phone_code 
		<where>
	    	phone = #{phone}
		</where>
		order by created_at desc
		limit 1
	</select>
</mapper>
