<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seagox.lowcode.business.mapper.ProjectHandoverMapper">
    <select id="queryProjectHandovers" resultType="camelKeyMap">
        SELECT a.*,
               p.code AS "projectCode",
               p.name AS "projectName",
               hu.name AS "handoverUserName",
               ru.name AS "receiverUserName"
        FROM project_handover a
        LEFT JOIN project p ON p.id = a.project_id
        LEFT JOIN sys_account hu ON hu.id = a.handover_user_id
        LEFT JOIN sys_account ru ON ru.id = a.receiver_user_id
        <where>
            <if test="params.projectName != null and params.projectName != ''">
                <choose>
                    <when test="_databaseId == 'mysql'">AND p.name LIKE CONCAT('%', #{params.projectName}, '%')</when>
                    <otherwise>AND p.name LIKE '%' || #{params.projectName} || '%'</otherwise>
                </choose>
            </if>
            <if test="params.handoverType != null and params.handoverType != ''">AND a.handover_type = #{params.handoverType}</if>
            <if test="params.startDate != null and params.startDate != ''">AND a.handover_time &gt;= #{params.startDate}</if>
            <if test="params.endDate != null and params.endDate != ''">AND a.handover_time &lt;= #{params.endDate}</if>
        </where>
        ORDER BY a.handover_time DESC, a.id DESC
    </select>
    <select id="queryProjectHandoverById" resultType="camelKeyMap">
        SELECT a.*,
               p.code AS "projectCode",
               p.name AS "projectName",
               hu.name AS "handoverUserName",
               ru.name AS "receiverUserName"
        FROM project_handover a
        LEFT JOIN project p ON p.id = a.project_id
        LEFT JOIN sys_account hu ON hu.id = a.handover_user_id
        LEFT JOIN sys_account ru ON ru.id = a.receiver_user_id
        WHERE a.id = #{id}
    </select>
</mapper>
